<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Recipe Page 
        Tofu in a lightly spiced red pepper cream sauce
      </title>
</head>

<body>
    <h1><div class="title">Recipe: 
        Tofu in a lightly spiced red pepper cream sauce
      </div>
    <img src="https://images.food52.com/Y4H1pdMcFq5Lcvoq3wMRs79igWI=/1000x1000/58836fad-39b4-4cab-8028-cc4f11238752--tofusm.JPG" alt="Recipe image retrieval failed. Imagine some food.">
    </h1>
    <div class="ingredients">
<ul>
    <li>5  red bell peppers</li>
    <li>4  tomatoes</li>
    <li>1 tablespoon  freshly grated ginger</li>
    <li>1/2 teaspoon  chopped fresh garlic</li>
    <li>1 piece  cinnamon (2-inch stick)</li>
    <li>1 teaspoon  red chili powder</li>
    <li>1.5 teaspoons  salt</li>
    <li>1/4 cup  grapeseed or canolla oil</li>
    <li>2 tablespoons  agave nectar</li>
    <li>1.5 cups  half and half</li>
    <li>3/4 cup  water</li>
    <li>1 tablespoon  dried fenugreek leaves or (1 teaspoon minced fresh rosemary leaves)</li>
    <li>2 cups  extra firm tofu, cubed</li>
    <li>1 tablespoon  freshly ground black pepper</li>
</ul>
    </div>
    <div class="steps">
<ol>
    <li>
 Dice the red peppers, removing the seeds and stalk. (please note, please try to use organic bell peppers).

</li>
    <li>
Dice the tomatoes, to match the bell peppers.
</li>
    <li>
Place the peppers, tomatoes, ginger, garlic, chili powder and salt and grapeseed oil in the slow cooker and cook on the 4 hour high setting for 4 hours. Note, if your slow cooker does not have multiple settings, just cook for 3-4 hours until the peppers and tomatoes are somewhat dried and wilted.

</li>
    <li>
Place the cooked pepper mixture into a blender and add in the agave nectar, half and half, water and blend to a smooth puree.
</li>
    <li>
Place the puree in a cooking pot and bring to a simmer, add in the dried fenugreek leaves or rosemary and tofu and simmer for about 15 minutes. 
</li>
    <li>
Turn off the heat, drizzle well with the black pepper and serve with rice or crusty bread
</li>
</ol>
    </div>
</body>
<footer>
    <div>found on: <a href="food52.com">Food52</a></div>
    <div>Original URL: https://food52.com/recipes/6552-tofu-in-a-lightly-spiced-red-pepper-cream-sauce</div>
</footer>
</html>
