<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Recipe Page Rosemary Ciabatta with Stout Beer</title>
</head>

<body>
    <h1><div class="title">Recipe: Rosemary Ciabatta with Stout Beer</div>
    <img src="https://images.food52.com/1FHpfUSO1ohoEG0b3eWoHSir43A=/1000x1000/672c8615-5494-4041-be21-58eb52af67b5--041310F_769.JPG" alt="Recipe image retrieval failed. Imagine some food.">
    </h1>
    <div class="ingredients">
<ul>
    <li>1/4 teaspoon  instant yeast (1/4 tsp X 1.5 if using Active Dry Yeast)</li>
    <li>210  grams water at 70 degrees F</li>
    <li>210  grams bread flour (I recommend King Arthur bread flour)</li>
    <li>15 ounces  bread flour (I recommend King Arthur bread flour)</li>
    <li>1/4 teaspoon  instant yeast (multiply this amount by 1.5 if using Active Dry Yeast)</li>
    <li>3 teaspoons  kosher salt</li>
    <li>10 ounces  poolish (from recipe provided above)</li>
    <li>8 ounces  Stout beer (other beers can be used as well)</li>
    <li>2 teaspoons  malt syrup</li>
    <li>1 tablespoon  olive oil</li>
    <li>1 tablespoon  honey</li>
    <li>2 1/2 tablespoons  minced fresh rosemary</li>
    <li>fleur de sel for sprinkling on top of each boule</li>
</ul>
    </div>
    <div class="steps">
<ol>
    <li>
Mix the yeast and water together in a small bowl. Add the flour and mix well with a spoon. Cover and let rest at room temperature at least 12 hours, ideally overnight. 
</li>
    <li>
Before using, check to make sure the yeast has grown as evidenced by many air bubbles on the surface of the dough and enhanced dough mass.  
</li>
    <li>
Combine the dry ingredients in the mixing bowl of a standing mixer and mix with a whisk. Add the poolish, beer, malt syrup, olive oil and honey. If using Active Dry Yeast, add it at this time with the other wet ingredients. Using the hook attachment, mix for 5-7 minutes at the lowest speed. The dough should be wet and sticky to the touch. If it is too wet, add a little bread flour; if too dry, add a little more beer. It should be a fairly smooth dough at this stage.
</li>
    <li>
Sprinkle the minced rosemary over the dough and increase the mixer speed to the next highest level and mix for 2 minutes. When you're finished, there are two ways to check and see if the dough is ready for it's first rising: (1) detach the dough hook and pull up on the dough with the hook to see if the dough is very elastic and moves with the hook or if the dough breaks/tears; (2) take a piece of dough the size of 2 large marbles and with your fingers carefully stretch it out pulling on 4 corners of the dough to see if it stretches or tears as you pull on the it. If the dough tears fairly easily in either test, more kneading is necessary. What you're doing in this stage is to develop the gluten, or elasticity of the dough.
</li>
    <li>
Put the dough in a lightly oiled bowl, cover it and place it someplace warm for the first rising until it doubles in size. This can take 3 to 3 1/2 hours. During this stage of rising, uncover the dough each hour and pull up one side of the dough and fold it over on itself to essentially fold the dough in half. This is done to help build structure in the bread. Tips if you can't find a warm place for the dough to rise: heat a cup of water in the microwave oven to really hot, turn the microwave off and put the bowl of covered dough in the microwave with the cup of water. Or place the covered bowl near the stove if you're cooking, (being careful that it doesn't get too hot!).
</li>
    <li>
Weigh the dough and divide in half to form 2 boules or loaves. Loosely pre-shape each boule or loaf and place on a parchment lined baking sheet(s). Cover with a towel and plastic wrap and let rest for 10 - 20 minutes. 
</li>
    <li>
Perform final shaping of the boules or loaves on a lightly floured board. Place back on the parchment lined baking sheet(s) for the 2nd rising. Re-cover with a towel and plastic and let rise for 1 to 1 1/2 hours. Preheat the oven to 450F. I place a pizza stone in the oven on the rack I plan to use and an empty metal pan in the bottom of the oven. If using the pizza stone, allow time for the oven to be at 450F for about an hour so that the stone is completely preheated. 
</li>
    <li>
Score the boules or loaves with an oiled razor blade, spray lightly with water, sprinkle with the fleur de sel and place the baking sheet on top of the pizza stone. The pizza stone will help keep the baking sheet at a constant temperature while the bread bakes. Just before closing the oven door, throw a bunch of ice cubes or cold water into the hot metal pan at the bottom of the oven to create a little steam. 
</li>
    <li>
Bake the bread for about 30 minutes. In the first 10 minutes of baking, open the oven door just long enough to squirt some water on the sides of the oven with a squirt bottle. If you don't have one, just get your hands wet and fling the water at the sides of the oven to create steam. Do this 3 times, but not after the first 10 minutes of baking. During the last 5 minutes of baking, open the oven door. A crisper crust is encouraged by shots of steam in the beginning of baking, and by a dry oven at the end.
</li>
    <li>
The bread is ready when it's internal temperature reaches 200F. To check, I pull the boule from the oven and stick a probe into the bottom. 
</li>
    <li>
Because this is a wet bread, especially compared to french bread, let it cool before serving. 
</li>
    <li>
Bon appetit! 
</li>
</ol>
    </div>
</body>
<footer>
    <div>found on: <a href="food52.com">Food52</a></div>
    <div>Original URL: https://food52.com/recipes/3967-rosemary-ciabatta-with-stout-beer</div>
</footer>
</html>
