<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Recipe Page Man'oushe with Za'atar Oil, Tomatoes, and Cucumber</title>
</head>

<body>
    <h1><div class="title">Recipe: Man'oushe with Za'atar Oil, Tomatoes, and Cucumber</div>
    <img src="https://assets.bonappetit.com/photos/589dffd2476e2c92337165b7/16:9/w_940,c_limit/manoushe-with-zaatar-oil-tomatoes-and-cucumber.jpg" alt="Recipe image retrieval failed. Imagine some food.">
    </h1>
    <div class="ingredients">
<ul>
    <li>1 tablespoon sugar</li>
    <li>1½ teaspoons active dry yeast</li>
    <li>2 teaspoons Diamond Crystal or 1 teaspoon Morton kosher salt</li>
    <li>3¼ cups bread flour, plus more for surface</li>
    <li>2 tablespoons vegetable oil, plus more</li>
    <li>¼ cup za'atar</li>
    <li>⅓ cup olive oil, plus more for drizzling</li>
    <li>Bread flour (for dusting)</li>
    <li>¼ English hothouse cucumber, halved, thinly sliced</li>
    <li>½ cup halved grape tomatoes</li>
    <li>¼ cup mint leaves</li>
    <li>1 tablespoon fresh lemon juice</li>
    <li>Kosher salt, freshly ground pepper</li>
    <li>Za’atar, a Middle Eastern spice blend, is available at Middle Eastern markets and specialty foods stores.</li>
</ul>
    </div>
    <div class="steps">
<ol>
    <li>Whisk sugar, yeast, and ½ cup warm water (105°–110°) in a medium bowl until yeast is dissolved. Let sit until foamy, 5–10 minutes.</li>
    <li>Meanwhile, whisk salt and 3¼ cups flour in a large bowl. Make a well in the center and pour in yeast mixture, 2 Tbsp. oil, and ¾ cup warm water. Stir with a wooden spoon from the center out to gradually incorporate dry ingredients until you have a rough, shaggy dough.</li>
    <li>Turn out onto a work surface and knead lightly to bring together into a single mass. Continue kneading, adding flour as needed if sticky, until dough is smooth, supple, firm, and elastic, about 5 minutes. Place in an oiled bowl; turn to coat. Cover with plastic wrap and let sit in a warm spot until doubled in size, 1¼–1¾ hours.</li>
    <li>Place a rack in lower third of oven and set a pizza stone or upside-down rimmed baking sheet on rack (use two sheets side by side if you can fit them); preheat to 500° or highest setting. Stir za’atar and ⅓ cup oil in a small bowl; set aside.</li>
    <li>Turn out dough onto a lightly floured surface and divide into 4 pieces. Form into smooth balls, dust lightly with flour, and cover. Let sit until relaxed, 10–15 minutes.</li>
    <li>Working with 1 piece at a time, roll balls into ¼"-thick rounds and flour both sides. Stack rounds, separating with plastic wrap, as you go. Transfer a round to a generously floured pizza peel or an upside-down baking sheet (not the one that’s in the oven) and brush one-quarter of za’atar oil all over the surface. Carefully slide dough onto pizza stone and bake until flatbread is puffed in spots and edges are golden brown, 4–5 minutes, depending on oven temperature. Transfer man’oushe to a wire rack; let cool slightly. Repeat with remaining rounds of dough.</li>
    <li>Toss cucumber, tomatoes, mint, and lemon juice in a medium bowl. Season with salt and pepper and drizzle lightly with oil. Spoon over warm man’oushe.</li>
</ol>
    </div>
</body>
<footer>
    <div>found on: <a href="bonappetit.com">BonAppetit</a></div>
    <div>Original URL: https://www.bonappetit.com/recipe/manoushe-with-zaatar-oil-tomatoes-and-cucumber</div>
</footer>
</html>
