<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Recipe Page Spiced Lamb and Dill Yogurt Pasta</title>
</head>

<body>
    <h1><div class="title">Recipe: Spiced Lamb and Dill Yogurt Pasta</div>
    <img src="https://assets.bonappetit.com/photos/5e73cbe2da86e40008a57a49/16:9/w_940,c_limit/Orecchiette-Pasta-with-Shish-Barak.jpg" alt="Recipe image retrieval failed. Imagine some food.">
    </h1>
    <div class="ingredients">
<ul>
    <li>3 large egg yolks</li>
    <li>2 cups kefir (cultured milk) or whole-milk plain yogurt</li>
    <li>3 cups (lightly packed) dill fronds with tender stems (about 1 large bunch), divided</li>
    <li>3 garlic cloves, divided</li>
    <li>3 Tbsp. unsalted butter</li>
    <li>½ cup pine nuts or slivered almonds</li>
    <li>½ cup dried currants or raisins</li>
    <li>1 tsp. kosher salt, plus more</li>
    <li>1 Tbsp. ground cumin</li>
    <li>1½ tsp. freshly ground black pepper</li>
    <li>1 lb. ground lamb</li>
    <li>1 lb. orecchiette</li>
    <li>½ lemon</li>
</ul>
    </div>
    <div class="steps">
<ol>
    <li>Combine egg yolks, yogurt, and 1½ cups dill in a blender; finely grate in 1 garlic clove and blend until smooth. Set purée aside. Finely chop remaining dill; set aside.</li>
    <li>Melt butter over medium heat in a large skillet. Add pine nuts and cook, stirring often, until golden brown, about 2 minutes. Add dried currants and cook, stirring often, until plump, about 1 minute. Scrape nut mixture into a small bowl; season with salt.</li>
    <li>Wipe out skillet and heat over medium-high. Stir together cumin, pepper, and 1 tsp. salt in a small bowl. Place lamb in pan and use a sturdy spatula to aggressively flatten (like you’re making smash burgers); sprinkle spice mixture over. Cook, undisturbed, until lamb is well browned and crisp underneath, about 4 minutes. Hold back meat and drain off  all of the fat. Break up meat into small pieces and mix in reserved nut mixture. Finely grate in remaining 2 garlic cloves and add reserved chopped dill. Cook, stirring, until herbs are wilted, about 1 minute. Set aside until pasta is ready.</li>
    <li>Meanwhile, cook pasta in a large pot of boiling salted water, stirring occasionally, until 1 minute shy of al dente (pasta will finish cooking in the sauce). Drain pasta and return to pot.</li>
    <li>Pour reserved purée over pasta and set over medium heat. Cook, stirring constantly, until sauce thickens enough to cling to pasta and just comes to a simmer, about 3 minutes. Remove from heat; finely grate zest from lemon half over pasta, then squeeze in juice. Season with salt.</li>
    <li>Divide pasta among bowls and top with lamb mixture.</li>
</ol>
    </div>
</body>
<footer>
    <div>found on: <a href="bonappetit.com">BonAppetit</a></div>
    <div>Original URL: https://www.bonappetit.com/recipe/spiced-lamb-and-dill-yogurt-pasta</div>
</footer>
</html>
