<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Recipe Page Spiced Lamb Burger</title>
</head>

<body>
    <h1><div class="title">Recipe: Spiced Lamb Burger</div>
    <img src="https://assets.bonappetit.com/photos/57acb1aa53e63daf11a4d969/16:9/w_940,c_limit/spiced-lamb-burger.jpg" alt="Recipe image retrieval failed. Imagine some food.">
    </h1>
    <div class="ingredients">
<ul>
    <li>2½ pounds ground lamb, preferably shoulder</li>
    <li>1 medium onion, very finely chopped</li>
    <li>¾ cup chopped fresh flat-leaf parsley</li>
    <li>1 tablespoon ground coriander</li>
    <li>¾ teaspoon ground cumin</li>
    <li>½ teaspoon ground cinnamon</li>
    <li>2 teaspoons kosher salt</li>
    <li>1½ teaspoon freshly ground black pepper</li>
    <li>¼ cup olive oil, plus more for grilling</li>
    <li>8 thick medium pita breads with pockets</li>
</ul>
    </div>
    <div class="steps">
<ol>
    <li>Using a fork, mix lamb, onion, parsley, coriander, cumin, cinnamon, salt, pepper, and ¼ cup oil in a large bowl. Cover and chill at least 1 hour.</li>
    <li>Prepare grill for medium heat and oil grate. Working one at a time, open each pita pocket by cutting along seam, halfway around perimeter. Spoon filling into pitas, spreading to edges. Close, pressing on filling to seal.</li>
    <li>Grill pitas until filling is cooked through and bread is crisp, about 5 minutes per side.</li>
    <li>DO AHEAD: Filling can be made 8 hours ahead; keep chilled. Pita breads can be stuffed 1 hour ahead; cover and chill.</li>
</ol>
    </div>
</body>
<footer>
    <div>found on: <a href="bonappetit.com">BonAppetit</a></div>
    <div>Original URL: https://www.bonappetit.com/recipe/spiced-lamb-burger</div>
</footer>
</html>
