<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Recipe Page {TITLE}</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <h1><div class="title">Recipe: {TITLE}</div>
	    <div class="img-containeri"><img src="{IMG}" alt="Recipe image retrieval failed. Imagine some food."></div>
    </h1>
    <div class="ingredients">
        {INGREDIENTS}
    </div>
    <div class="steps">
        {STEPS}
    </div>
</body>
<footer>
    <div>found on: <a href="{GENERAL}">{WEBSITE}</a></div>
    <div>Original URL: {URL}</div>
</footer>
</html>
